/* TODO: merge this with main stylesheet */

.community {
  background: #020024;
  background: linear-gradient(0,rgba(2, 0, 36, 1) 0%, rgb(6, 6, 83) 35%, rgb(78, 16, 149) 100%);
  cursor: pointer;
}

.community img {
  border: 5px solid rgb(54, 54, 153);
  display: block;
  width: 50px;
}