/* TODO: merge this with main stylesheet */


/* frutiger aero experiment for funny */

@property --bgclr1 {
  syntax: '<color>';
  initial-value: #020024;
  inherits: false;
}

@property --bgclr2 {
  syntax: '<color>';
  initial-value: #2a2a6d;
  inherits: false;
}

@property --bgclr3 {
  syntax: '<color>';
  initial-value: #4848e4;
  inherits: false;
}

.communities > div {
  border: 1px solid #020024af; 
  border-radius: 15px;
  box-shadow: 
    0 8px 32px #0000001a,
    inset 0 1px 0 #6e707b80,
    inset 0 -1px 0 #8b8b8b1a,
    inset 0 0 2px 1px #746c92;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5vh 1.5vw;
  margin: 1vh 0;
}

.community {
  background: #0a073c;
  background: linear-gradient(
    0,
    var(--bgclr1) 0%, 
    var(--bgclr2) 45%, 
    var(--bgclr3) 100%
  );
  transition: --bgclr1 .5s, --bgclr2 .5s, --bgclr3 .5s;
}

.community:hover {
    --bgclr1: #070184;
    --bgclr2: #3939b8;
    --bgclr3: #5b5bfd;
}

.community > img {
  border: 1px solid rgb(54, 54, 153);
  border-radius: 5vw;
  display: block;
  width: 7.5vw;
}

.community-name {
  font-size: 1.25em;
}

.new-community {
  background: #5f7f5f;
  transition: background-color .5s;
}

.new-community:hover {
  background: #7faf7f;
}