/* TODO: merge this with main stylesheet */


/* frutiger aero experiment for funny */
.community {
  background: #0a073c;
  background: linear-gradient(
    0,
    rgba(2, 0, 36, 1) 0%, 
    rgb(42, 42, 109) 45%, 
    rgb(72, 72, 228) 100%
  );
  border: 1px solid #020024af; 

  border-radius: 15px;
  box-shadow: 
    0 8px 32px #0000001a,
    inset 0 1px 0 #6e707b80,
    inset 0 -1px 0 #8b8b8b1a,
    inset 0 0 2px 1px #746c92;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3vh 3vw;
  margin: 1vh 0;
}

.community img {
  border: 5px solid transparent /*rgb(54, 54, 153)*/;
  /* border-radius: 50px; */
  /* background-clip: padding-box; */
  display: block;
  padding: 3px;
  width: 100px;
  z-index: 0; 
}

/* workaround for gradient borders */
.community img::before {
  content: '';
  background: linear-gradient(45deg, #542b5e, #702cdd);
  border-radius: 15px;
  position: absolute;
  inset: 0;
  padding: 30px; /*border thickness*/
  z-index: -1;
  mask: 
    linear-gradient(#000 0 0) exclude, 
    linear-gradient(#000 0 0) content-box;
}