
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
    font-family: default;
    color: #f2f0eb;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 2.5vh;
}

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
    font-family: bold;
    color: #f2f0eb;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 2.5vh;
}

body {
    background-color: #2b292e;
    font-family: default;
    color: #f2f0eb;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}