

@font-face {
    src: url("fonts/Raleway-VariableFont_wght.ttf");
    font-family: default_raleway;
    color: #f2f0eb;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 2.5vh;
}

@font-face {
    src: url("fonts/Raleway-VariableFont_wght.ttf");
    font-family: bold_raleway;
    color: #f2f0eb;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5vh;
}

body {
    background-color: #2b292e;
    font-family: default;
    color: #f2f0eb;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.menu-tab {
    position: fixed;
    left: 0vh;
    height: 100vh;
    width: 20vh;
    display: flex;
    flex-direction: vertical;
    
}